{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% trans 'Order' %}</title>
        <style type="text/css">
            @page {
                size: A4;
                margin: 2cm;
            }
        </style>
    </head>
    <body>
        <h1>{% trans 'Order' %}</h2>
        <table class="table" border="1">
            <tr>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Unit price' %}</th>
                <th>{% trans 'Quantity' %}</th>
                <th>{% trans 'Price' %}</th>
            </tr>
            {% for item in object.cart.all_items %}
            <tr>
                <td>
                    <a href="{{ item.product.get_absolute_url }}">
                        {{ item.product.name }}
                        {% if item.package %}/ {{ item.package.name }}{% endif %}
                    </a>
                </td>
                <td class="number">{{ item.get_unit_price }}</td>
                <td class="number">{{ item.quantity }}</td>
                <td class="number">{{ item.get_price }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    {{ object.delivery_method.name }}
                </td>
                <td class="number">{{ object.delivery_method.get_price }}</td>
                <td class="number"></td>
                <td class="number">{{ object.delivery_method.get_price }}</td>
            </tr>
            <tr>
                <td>
                    {{ object.payment_method.name }}
                </td>
                <td class="number">{{ object.payment_method.get_price }}</td>
                <td class="number"></td>
                <td class="number">{{ object.payment_method.get_price }}</td>
            </tr>
            <tr>
                <th colspan="3">{% trans 'Total' %}</th>
                <th class="number">{{ object.get_price }}</th>
            </tr>
        </table>
    </body>
</html>
