{% extends 'cmsplugin_shop/base.html' %}
{% load i18n shop_tags %}

{% block title %}{% trans 'Order' %}{% endblock %}
{% block extrahead %}{{ wizard.form.media }}{% endblock %}

{% block content %}

<h1>{% trans 'Order' %}</h1>

<p>{% blocktrans with step=wizard.steps.step1 count=wizard.steps.count %}Step {{ step }} of {{ count }}{% endblocktrans %}</p>

{% include 'cmsplugin_shop/order_confirm_cart.html' with cart=request.cart %}

{% if wizard.steps.step0 %}
{% include 'cmsplugin_shop/order_confirm_details.html' %}
{% endif %}

<form method="post">{% csrf_token %}
<table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        {{ wizard.form }}
    {% endif %}
    <tr>
        <td>
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
        </td>
        <td><input type="submit" value="{% trans 'Continue' %}" /></td>
    </tr>
</table>
</form>

{% endblock %}
