{% load i18n %}

<table class="table order-details">
    <tr>
        <th>{% trans 'First name' %}</th>       <td>{{ order.first_name }}</td>
        <th>{% trans 'Last name' %}</th>        <td>{{ order.last_name }}</td>
    </tr>
    <tr>
        <th>{% trans 'Phone' %}</th>            <td>{{ order.phone }}</td>
        <th>{% trans 'Email' %}</th>            <td>{{ order.email }}</td>
    </tr>
    <tr>
        <th>{% trans 'Address' %}</th>          <td>{{ order.address }}</td>
        <th>{% trans 'Note' %}</th>             <td>{{ order.note }}</td>
    <tr>
</table>

