{% extends 'cmsplugin_shop/node.html' %}
{% load sekizai_tags i18n %}

{% block specific_content %}

<h1 class="product_name">
    {{ product.name }}
    <small>{{ product.get_price }}{% if product.unit %} / {{ product.multiple }}{{ product.unit }}{% endif %}</small>
</h1>

<div class="product_description">
    {{ product.description | safe }}
</div>

<form method="post" action="">{% csrf_token %}
    {{ form.as_p }}
    <input name="add" type="submit" value="{% trans 'Add to cart' %}" />
    <input name="add-and-cart" type="submit" value="{% trans 'Add and show the cart' %}" />
</form>

{% endblock %}
